@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-poppins: "Poppins", sans-serif;
  --color-almond-50: #fbf7f1;
  --color-almond-100: #f5eddf;
  --color-almond-200: #ead8c0;
  --color-almond-300: #dcbc95;
  --color-almond-400: #cc9a6b;
  --color-almond-500: #c2814d;
  --color-almond-600: #b46d42;
  --color-almond-700: #965738;
  --color-almond-800: #794833;
  --color-almond-900: #623c2c;
  --color-almond-950: #341d16;
}

:root {
  --background: oklch(99.73% 0.013 106.63);
  --foreground: oklch(0.4337 0.0357 73.2237);
  --card: oklch(99.73% 0.013 106.63);
  --card-foreground: oklch(0.4337 0.0357 73.2237);
  --popover: oklch(0.9668 0.0265 74.7645);
  --popover-foreground: oklch(0.4337 0.0357 73.2237);
  --primary: oklch(65.93% 0.105 58.2);
  --primary-foreground: oklch(0.9668 0.0265 74.7645);
  --secondary: oklch(0.8032 0.0467 74.6574);
  --secondary-foreground: oklch(0.4337 0.0357 73.2237);
  --muted: oklch(0.8906 0.0378 75.1312);
  --muted-foreground: oklch(0.528 0.037 71.425);
  --accent: oklch(0.8906 0.0378 75.1312);
  --accent-foreground: oklch(0.4337 0.0357 73.2237);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9668 0.0265 74.7645);
  --border: oklch(0.8906 0.0378 75.1312);
  --input: oklch(0.8906 0.0378 75.1312);
  --ring: oklch(0.6716 0.0456 73.8631);
  --chart-1: oklch(0.6716 0.0456 73.8631);
  --chart-2: oklch(0.8032 0.0467 74.6574);
  --chart-3: oklch(0.7163 0.0432 74.2628);
  --chart-4: oklch(0.7774 0.0406 78.4935);
  --chart-5: oklch(0.6318 0.0422 72.0193);
  --sidebar: oklch(0.9668 0.0265 74.7645);
  --sidebar-foreground: oklch(0.4337 0.0357 73.2237);
  --sidebar-primary: oklch(0.6716 0.0456 73.8631);
  --sidebar-primary-foreground: oklch(0.9668 0.0265 74.7645);
  --sidebar-accent: oklch(0.8906 0.0378 75.1312);
  --sidebar-accent-foreground: oklch(0.4337 0.0357 73.2237);
  --sidebar-border: oklch(0.8906 0.0378 75.1312);
  --sidebar-ring: oklch(0.6716 0.0456 73.8631);
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-source-serif-4);
  --font-mono: var(--font-geist-mono);
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2679 0.0131 72.2659);
  --foreground: oklch(0.9668 0.0265 74.7645);
  --card: oklch(0.3061 0.0172 70.8386);
  --card-foreground: oklch(0.9668 0.0265 74.7645);
  --popover: oklch(0.2679 0.0131 72.2659);
  --popover-foreground: oklch(0.9668 0.0265 74.7645);
  --primary: oklch(0.6716 0.0456 73.8631);
  --primary-foreground: oklch(0.2679 0.0131 72.2659);
  --secondary: oklch(0.3719 0.024 79.8449);
  --secondary-foreground: oklch(0.8906 0.0378 75.1312);
  --muted: oklch(0.3061 0.0172 70.8386);
  --muted-foreground: oklch(0.6716 0.0456 73.8631);
  --accent: oklch(0.3719 0.024 79.8449);
  --accent-foreground: oklch(0.8906 0.0378 75.1312);
  --destructive: oklch(0.3958 0.1331 25.723);
  --destructive-foreground: oklch(0.9668 0.0265 74.7645);
  --border: oklch(0.3719 0.024 79.8449);
  --input: oklch(0.3719 0.024 79.8449);
  --ring: oklch(0.8032 0.0467 74.6574);
  --chart-1: oklch(0.6716 0.0456 73.8631);
  --chart-2: oklch(0.8032 0.0467 74.6574);
  --chart-3: oklch(0.7163 0.0432 74.2628);
  --chart-4: oklch(0.7774 0.0406 78.4935);
  --chart-5: oklch(0.6318 0.0422 72.0193);
  --sidebar: oklch(0.2679 0.0131 72.2659);
  --sidebar-foreground: oklch(0.9668 0.0265 74.7645);
  --sidebar-primary: oklch(0.6716 0.0456 73.8631);
  --sidebar-primary-foreground: oklch(0.2679 0.0131 72.2659);
  --sidebar-accent: oklch(0.3719 0.024 79.8449);
  --sidebar-accent-foreground: oklch(0.8906 0.0378 75.1312);
  --sidebar-border: oklch(0.3719 0.024 79.8449);
  --sidebar-ring: oklch(0.8032 0.0467 74.6574);
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-source-serif-4);
  --font-mono: var(--font-geist-mono);
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@layer utilities {
  @keyframes indeterminate {
    0% {
      left: -33%;
    }
    50% {
      left: 33%;
    }
    100% {
      left: 100%;
    }
  }

  .animate-indeterminate {
    animation: indeterminate 0.8s infinite ease-in-out;
  }
}
